/* Base */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd, ul {
  margin-block-end: 0;
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul, ol {
  list-style: none;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

@keyframes fade-in {
  0% {
    display: none;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}
@keyframes nav-slide-in {
  0% {
    right: -100%;
  }
  100% {
    right: 0;
  }
}
/* Colors */
/* Fonts */
/* Media query breakpoints */
/* Mixin to manage responsive breakpoints */
/* Overlay */
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  backdrop-filter: blur(5px);
  background-color: hsla(240, 100%, 5%, 0.6);
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: 997;
  animation: fade-in 350ms ease-in-out;
}
.overlay.open {
  display: block;
  opacity: 1;
}

/* Container */
@media (min-width: 48.0625rem) {
  .container {
    max-width: 69.375rem;
    margin: 0 auto;
  }
}

/* Headings */
.heading {
  color: hsl(240, 100%, 5%);
  font-weight: 800;
}
.heading--lg {
  font-size: 2.7rem;
  line-height: 1;
}
@media (min-width: 64rem) {
  .heading--lg {
    font-size: 3.5rem;
  }
}
.heading--big {
  font-size: clamp(2rem, 4vw, 2.5rem);
  font-weight: 600;
}
.heading--md {
  font-size: 1.19rem;
  letter-spacing: 0.0313rem;
}
.heading--sm {
  font-size: clamp(1rem, 4vw, 1.09rem);
  letter-spacing: 0.02rem;
}
.heading--white {
  color: hsl(36, 100%, 99%);
}
.heading--yellow {
  color: hsl(35, 77%, 62%);
}

/* Text */
.text {
  font-size: 0.9375rem;
  line-height: 1.6;
  color: hsl(236, 13%, 42%);
}

body {
  min-height: 100vh;
  line-height: 1.5;
  font-family: "Inter", sans-serif;
  font-style: normal;
  padding: 1.5rem 1rem 1rem 1rem;
  background-color: hsl(36, 100%, 99%);
}
@media (min-width: 48.0625rem) {
  body {
    padding-top: 3rem;
  }
}
@media (min-width: 64rem) {
  body {
    padding-top: 5.29rem;
  }
}
body.open {
  overflow: hidden;
}

a:focus-visible {
  outline: 3px dashed hsl(5, 85%, 63%);
  outline-offset: 3px;
}

/* Layout */
/* Header */
.header {
  margin-bottom: 1.5rem;
}
@media (min-width: 48.0625rem) {
  .header {
    margin-bottom: 3.1rem;
  }
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo img {
  width: clamp(45px, 8vw, 65px);
}
.header__nav {
  display: none;
}
.header__nav.open {
  display: block;
  position: fixed;
  background: hsl(36, 100%, 99%);
  top: 0;
  right: 0;
  height: 100%;
  width: 70vw;
  z-index: 998;
  animation: nav-slide-in 450ms ease-in-out;
}
@media (min-width: 48.0625rem) {
  .header__nav {
    display: block;
  }
}
.header__list {
  display: flex;
  flex-direction: column;
  padding: 8.9rem 0 0 0;
}
@media (min-width: 48.0625rem) {
  .header__list {
    flex-direction: row;
    padding: 0;
  }
}
.header__item:last-child a {
  padding-right: 0;
}
.header__link {
  display: block;
  text-decoration: none;
  color: hsl(240, 100%, 5%);
  font-weight: 400;
  width: 100%;
  padding: 0.8rem 0 0.8rem 1.875rem;
}
@media (min-width: 48.0625rem) {
  .header__link {
    width: unset;
    padding: 0.8rem 1.2rem;
    color: hsl(236, 13%, 42%);
    transition: color 200ms ease-in-out;
  }
  .header__link:hover {
    color: hsl(35, 77%, 62%);
  }
}

/* Key Visual */
.kv__container {
  display: flex;
  flex-direction: column;
  gap: 3.75rem;
  margin-bottom: 3.75rem;
}
@media (min-width: 48.0625rem) {
  .kv__container {
    flex-direction: row;
    gap: 1rem;
  }
}
@media (min-width: 64rem) {
  .kv__container {
    gap: 1.8rem;
    margin-bottom: 4.5rem;
  }
}
.kv__article {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
@media (min-width: 48.0625rem) {
  .kv__article {
    flex: 1.5;
  }
}
@media (min-width: 64rem) {
  .kv__article {
    gap: 2rem;
  }
}
@media (min-width: 48.0625rem) {
  .kv__content {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
}
@media (min-width: 64rem) {
  .kv__content {
    flex-direction: row;
    gap: 1.9rem;
  }
}
.kv__title {
  margin-bottom: 1.25rem;
  max-width: 23.125rem;
}
@media (min-width: 30.0625rem) {
  .kv__title {
    max-width: 24rem;
  }
}
@media (min-width: 64rem) {
  .kv__title {
    flex: 1;
    margin-bottom: 0;
  }
}
@media (min-width: 48.0625rem) {
  .kv__desc-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }
}
.kv__desc {
  margin-bottom: 1.25rem;
  max-width: 33.125rem;
}
@media (min-width: 48.0625rem) {
  .kv__desc {
    max-width: 36rem;
  }
}
@media (min-width: 64rem) {
  .kv__desc {
    max-width: 21rem;
  }
}
@media (min-width: 48.0625rem) {
  .kv__articles {
    display: flex;
    flex: 1;
    max-width: 20rem;
  }
}
@media (min-width: 64rem) {
  .kv__articles {
    max-width: 21.9rem;
  }
}

/* Components */
/* Articles */
.articles__container {
  background: hsl(240, 100%, 5%);
  padding: 1.6rem 1rem 1.6rem 1rem;
}
@media (min-width: 64rem) {
  .articles__container {
    padding: 1.9rem 1.6rem 2.17rem 1.6rem;
  }
}
.articles__title {
  margin-bottom: 0.625rem;
}
@media (min-width: 64rem) {
  .articles__title {
    margin-bottom: 0;
  }
}
.articles__item {
  padding: 1.8rem 0;
  /* Item is working as proxy container for link within,
     this is why we want style it while link is focused within */
}
.articles__item:not(:last-of-type) { /* add border bottom on all items except last */
  border-bottom: 1px solid hsl(236, 13%, 42%);
}
.articles__item:last-of-type {
  padding-bottom: 0;
}
.articles__item:focus-within {
  outline: 3px dashed hsl(5, 85%, 63%);
  outline-offset: 3px;
}
@media (min-width: 48.0625rem) {
  .articles__item:hover .articles__link {
    color: hsl(35, 77%, 62%);
  }
}
@media (min-width: 64rem) {
  .articles__item {
    padding: 2rem 0;
  }
}
.articles__link {
  display: block;
  color: inherit;
  text-decoration: none;
  /* Removed outline since trending__item is working as a proxy container for a link
     and styles for focus are applied on container instead */
}
.articles__link:focus-visible {
  outline: 0;
  color: hsl(35, 77%, 62%);
}
@media (min-width: 48.0625rem) {
  .articles__link {
    transition: color 350ms ease-in-out;
  }
}
.articles__heading {
  margin-bottom: 0.7rem;
}
.articles__desc {
  color: hsl(233, 8%, 79%);
}

/* Trending */
.trending__list {
  display: flex;
  flex-flow: wrap;
  gap: 2rem;
}
@media (min-width: 64rem) {
  .trending__list {
    gap: 2.8rem;
  }
}
@media (min-width: 75rem) {
  .trending__list {
    gap: 1.68rem;
  }
}
.trending__item {
  display: flex;
  gap: 1.45rem;
  flex-basis: 22rem;
  /* Item is working as proxy container for link within,
     this is why we want style it while link is focused within */
}
.trending__item:focus-within {
  outline: 3px dashed hsl(5, 85%, 63%);
  outline-offset: 3px;
}
@media (min-width: 48.0625rem) {
  .trending__item:hover .trending__link {
    color: hsl(35, 77%, 62%);
  }
}
.trending__link {
  color: inherit;
  text-decoration: none;
  /* Removed outline since trending__item is working as a proxy container for a link
     and styles for focus are applied on container instead */
}
.trending__link:focus-visible {
  outline: 0;
  color: hsl(35, 77%, 62%);
}
@media (min-width: 48.0625rem) {
  .trending__link {
    transition: color 350ms ease-in-out;
  }
}
.trending__image {
  width: 100px;
}
.trending__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.trending__counter {
  color: hsl(233, 8%, 79%);
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
}

/* Buttons */
.btn {
  display: inline-block;
  text-decoration: none;
  color: hsl(36, 100%, 99%);
  padding: 0.85rem 1.98rem;
  letter-spacing: 0.2737rem;
  background: hsl(5, 85%, 63%);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.875rem;
  cursor: pointer;
}
@media (min-width: 48.0625rem) {
  .btn {
    transition: background-color 350ms ease-in-out;
  }
  .btn:hover {
    background: hsl(240, 100%, 5%);
  }
}

.hamburger {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 999;
}
.hamburger.open .hamburger__bars {
  transform: rotate(45deg);
  transition: transform 200ms 0.12s ease;
}
.hamburger.open .hamburger__bars::before {
  top: 0;
  transition: top 200ms ease;
}
.hamburger.open .hamburger__bars:after {
  top: 0;
  transform: rotate(-90deg);
  transition: top 200ms ease, transform 200ms ease 0.12s;
}
@media (min-width: 48.0625rem) {
  .hamburger {
    display: none;
  }
}
.hamburger__bars {
  position: relative;
  width: 100%;
  height: 3px;
  background: hsl(240, 100%, 5%);
  border-radius: 30px;
  pointer-events: none;
  transition: transform 200ms ease;
}
.hamburger__bars::before, .hamburger__bars::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  background: inherit;
  border-radius: inherit;
  transition: top 200ms ease 0.12s, transform 200ms ease;
}
.hamburger__bars::before {
  top: -7px;
}
.hamburger__bars::after {
  top: 7px;
}

/*# sourceMappingURL=style.css.map */
