@use '../utilities/' as *;

/* Articles */
.articles {
    $root: &;

    &__container {
        background: $c-blue-dark;
        padding: 1.6rem 1rem 1.6rem 1rem;

        @include breakpoint('lg') {
            padding: 1.9rem 1.6rem 2.17rem 1.6rem;
        }
    }

    &__title {
        margin-bottom: 0.625rem;

        @include breakpoint('lg') {
            margin-bottom: 0;
        }
    }

    &__item {
        padding: 1.8rem 0;

        &:not(:last-of-type) { /* add border bottom on all items except last */
            border-bottom: 1px solid $c-blue-grayish-dark;
        }

        &:last-of-type {
            padding-bottom: 0;
        }

        /* Item is working as proxy container for link within,
           this is why we want style it while link is focused within */ 
        &:focus-within {
            outline: 3px dashed $c-red-soft;
            outline-offset: 3px;
        }

        @include breakpoint('md') {
            &:hover #{$root}__link {
                color: $c-orange-soft;
            }
        }

        @include breakpoint('lg') {
            padding: 2rem 0;
        }
    }

    &__link {
        display: block;
        color: inherit;
        text-decoration: none;

        /* Removed outline since trending__item is working as a proxy container for a link
           and styles for focus are applied on container instead */ 
           &:focus-visible {
            outline: 0;
            color: $c-orange-soft;
        }
        
        @include breakpoint('md') {
            transition: color 350ms ease-in-out;
        }
    }

    &__heading {
        margin-bottom: 0.7rem;
    }

    &__desc {
        color: $c-blue-grayish;
    }
}
