@use '../utilities/' as *;

/* Buttons */
.btn {
    display: inline-block;
    text-decoration: none;
    color: $c-white-off;
    padding: 0.85rem 1.98rem;
    letter-spacing: 0.2737rem;
    background: $c-red-soft;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.875rem;
    cursor: pointer;

    @include breakpoint('md') {
        transition: background-color 350ms ease-in-out;
        
        &:hover {
            background: $c-blue-dark;
        }
    }
}

.hamburger {
    $root: &;
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 999;

    &.open #{$root}__bars {
        transform: rotate(45deg);
        transition: transform 200ms 0.12s ease;
    }

    &.open #{$root}__bars::before {
        top: 0;
        transition: top 200ms ease;
    }

    &.open #{$root}__bars:after {
        top: 0;
        transform: rotate(-90deg);
        transition: top 200ms ease,
                    transform 200ms ease 0.12s;
    }

    @include breakpoint('md') {
        display: none;
    }

    &__bars {
        position: relative;
        width: 100%;
        height: 3px;
        background: $c-blue-dark;
        border-radius: 30px;
        pointer-events: none;
        transition: transform 200ms ease;
        
        &::before, &::after {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            width: inherit;
            height: inherit;
            background: inherit;
            border-radius: inherit;
            transition: top 200ms ease 0.12s,
                        transform 200ms ease;
        }
    
        &::before {
            top: -7px;
        }
    
        &::after {
            top: 7px;
        }
    }
}