@use '../utilities/' as *;

/* Trending */
.trending {
    $root: &;

    &__list {
        display: flex;
        flex-flow: wrap;
        gap: 2rem;
        counter-reset: trending-list;

        @include breakpoint('lg') {
            gap: 2.8rem;
        }

        @include breakpoint('xlg') {
            gap: 1.68rem;
        }
    }

    &__item {
        display: flex;
        gap: 1.45rem;
        flex-basis: 22rem;

        /* Item is working as proxy container for link within,
           this is why we want style it while link is focused within */ 
        &:focus-within {
            outline: 3px dashed $c-red-soft;
            outline-offset: 3px;
        }

        @include breakpoint('md') {
            &:hover #{$root}__link {
                color: $c-orange-soft;
            }
        }
    }

    &__link {
        color: inherit;
        text-decoration: none;

        /* Removed outline since trending__item is working as a proxy container for a link
           and styles for focus are applied on container instead */ 
        &:focus-visible {
            outline: 0;
            color: $c-orange-soft;
        }

        @include breakpoint('md') {
            transition: color 350ms ease-in-out;
        }
    }

    &__image {
        width: 100px;
    }

    &__content {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 45px;

        &::before {
            position: absolute;
            counter-increment: trending-list;
            content: '0' counter(trending-list);
            top: 0;
            left: 0;
            color: $c-blue-grayish;
            font-size: 2rem;
            font-weight: 700;
            line-height: 1;
        }
    }
}
